* {
    box-sizing: border-box;
    color: #E6EDF3;
}

html, body {
    margin: 0;;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.sidebar {
    min-width: 200px;
    overflow-y: auto;
    padding: 20px 20px;
    background-color: #0D1117;
    border-color: #21262D;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
  }
  
.content {
    flex-grow: 1;
    overflow: auto;
    padding: 20px 30px;
    background-color: #0D1117;
    border-color: #21262D;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
}

.contentcontainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

nav li {
    padding-bottom: 10px;
}