<div id="links">
    <ul>
        <li><div class="link" routerLinkActive="active" routerLink="home">Home</div></li>
        <li><div class="link" routerLinkActive="active" [routerLink]="['robot', robot]">Robot</div></li>
        <li><div class="link">Storages</div>
            <ul>
                <li *ngFor="let storage of storages"><div class="link" routerLinkActive="active" [routerLink]="['storage', storage]">{{storage.name}}</div></li>
            </ul>
        </li>
        <li><div class="link" routerLinkActive="active" routerLink="mdi">Mdi</div></li>
        <li><div class="link" routerLinkActive="active" routerLink="about">About</div></li>
    </ul>
</div>