.container {
    display: block;
    position: relative;
}

.robot {
    position: relative;
    top: 0px;
    left: 20px;
}

.axis0 {
    position: absolute;
    top: 380px;
    left: 110px;
}

.axis1 {
    position: absolute;
    top: 290px;
    left: 20px;
}

.axis2 {
    position: absolute;
    top: 160px;
    left: 90px;
}

.axis3 {
    position: absolute;
    top: 60px;
    left: 130px;
}

.axis4 {
    position: absolute;
    top: 50px;
    left: 380px;
}

.axis5 {
    position: absolute;
    top: 230px;
    left: 420px;
}