<div class="container">
    <div class="robot"><img src="/assets/images/robot.png" alt="6-axis robot" width="516" height="488"></div>
    <div class="axis0"><p title="Position of axis 1">{{axisPositions[0]}}</p></div>
    <div class="axis1"><p title="Position of axis 2">{{axisPositions[1]}}</p></div>
    <div class="axis2"><p title="Position of axis 3">{{axisPositions[2]}}</p></div>
    <div class="axis3"><p title="Position of axis 4">{{axisPositions[3]}}</p></div>
    <div class="axis4"><p title="Position of axis 5">{{axisPositions[4]}}</p></div>
    <div class="axis5"><p title="Position of axis 6">{{axisPositions[5]}}</p></div>
</div>