<p>RaspiRobot is a Raspberry PI based 6-axis robot that can be controlled by any <a href="https://www.erowa.com" target="_blank">EROWA Robot OpenAPI</a> compatible process control like JMS 4.0 ProductionLine.</p>
<p>It provides several interfaces:</p>
<ul>
    <li>EROWA Robot OpenAPI: A gRPC based interface to command and observe the robot by a process control system</li>
    <li>WebAPI used by this <a href="https://angular.io" target="_blank">Angular</a> based frontend</li>
    <li><a href="https://swagger.io" target="_blank">Swagger</a> for developers (or otherwise interested people) to try out the WebAPI. RaspiRobot's Swagger page is accessible <a href="/swagger" target="_blank">here</a>.</li>
</ul>
<p>Find out more about this project on <a href="https://github.com/MartinBuehlmann/RaspiRobot" target="_blank">github.com</a></p>
