<h2>Single Drive Stepping</h2>
<div class="table">
    <div class="header">
        <div class="cell">Axis</div>
        <div class="cell">Position</div>
        <div class="cell">Stepping</div>
    </div>
    <div class="row">
        <div class="cell">1</div>
        <div class="cell">{{axisPositions[0]}}</div>
        <div class="cell"><button>-</button><button>+</button></div>
    </div>
    <div class="row">
        <div class="cell">2</div>
        <div class="cell">{{axisPositions[1]}}</div>
        <div class="cell"><button>-</button><button>+</button></div>
    </div>
    <div class="row">
        <div class="cell">3</div>
        <div class="cell">{{axisPositions[2]}}</div>
        <div class="cell"><button>-</button><button>+</button></div>
    </div>
    <div class="row">
        <div class="cell">4</div>
        <div class="cell">{{axisPositions[3]}}</div>
        <div class="cell"><button>-</button><button>+</button></div>
    </div>
    <div class="row">
        <div class="cell">5</div>
        <div class="cell">{{axisPositions[4]}}</div>
        <div class="cell"><button>-</button><button>+</button></div>
    </div>
    <div class="row">
        <div class="cell">6</div>
        <div class="cell">{{axisPositions[5]}}</div>
        <div class="cell"><button>-</button><button>+</button></div>
    </div>
</div>
