<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="False" />
  </packageRestore>
  
  <bindingRedirects>
    <add key="skip" value="True" />
    <add key="successRequired" value="False" />
  </bindingRedirects>
  
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <add key="RaspiRobot" value="../nuget" />
  </packageSources>
  
</configuration>